<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ToDownload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" type="favicon" href="https://freeiconshop.com/wp-content/uploads/edd/download-flat.png">
</head>
<body>

    <!-- BUTTONS -->
    <!-- LIMETORRENTS LINK BUTTON -->
    <a href="https://www.limetorrents.info/home" target="_blank"><button class="limetorrents_btn link_btn">Limetorrents</button></a>
    <!-- PIRATEBAY LINK BUTTON -->
    <a href="https://www.thepiratebay.org/" target="_blank"><button class="piratebay_btn link_btn">PirateBay</button></a>

    <!-- CONTAINER -->
    <div class="container">

        <!-- GRID CONTAINER -->
        <div class="grid_container">

            <%- include('./modals/add_new_series', locals) %>
            <%- include('./modals/edit_series', locals) %>
            <%- include('./modals/next_series', locals) %>
            <%- include('./modals/add_new_movie', locals) %>
            <%- include('./modals/edit_movie', locals) %>
            <%- include('./modals/confirm_series', locals) %>
            <%- include('./modals/confirm_movies', locals) %>
            <%- include('labels', locals) %>

            <!-- SERIES SECTION -->
            <div class="series_section">
                <!-- SERIES CONTENT -->
                <div class="series_content">

                    <div class="series_content_header">
                        <h4>Series to download</h4>
                        <button data-modal="modal_1" class="add_new modal_btn">Add New <i class="fas fa-plus"></i></button>
                    </div>

                    <div class="series_content_main">
                        <% for(let i = 0; i < series.length; i++) { %>
                            <p class="series_text"><%= series[i].title %> <span class="series_s_e">S<%=series[i].season %> E<%=series[i].episode %></span>
                                <button class="delete_series_btn modal_btn label_main" data-label="label_1" data-modal="modal_7" data-id="<%= series[i].id %>"><i class="fas fa-trash"></i></button>
                                <button data-id="<%= series[i].id %>" data-label="label_2" data-modal="modal_3" class="modal_btn next_btn label_main"><i class="fas fa-angle-double-up"></i></button>
                                <button data-id="<%= series[i].id %>" data-label="label_3" data-modal="modal_2" class="modal_btn edit_btn label_main"><i class="fas fa-edit"></i></button>
                                <button class="search_series label_main" data-label="label_6" data-web="limetorrents" data-title="<%= series[i].title %>" data-episode="<%= series[i].episode %>" data-season="<%= series[i].season %>"><i class="fas fa-lemon"></i></button>
                                <button class="search_series piratebay label_main" data-label="label_7" data-web="piratebay" data-title="<%= series[i].title %>" data-episode="<%= series[i].episode %>" data-season="<%= series[i].season %>"><i class="fas fa-skull-crossbones"></i></button>
                            </p>
                        <% } %>
                    </div>
                    
                </div>

            </div>

            <!-- MOVIES SECTION -->
            <div class="movies_section">

                <div class="movies_content">
                    
                    <div class="movies_content_header">
                        <h4>Movies to download</h4>
                        <button data-modal="modal_4" class="add_new modal_btn">Add New <i class="fas fa-plus"></i></button>
                    </div>

                    <div class="movies_content_main">
                        <% for(let i2 = 0; i2 < movies.length; i2++) { %>
                            <p class="movies_text" data-id="<%= movies[i2].id %>"><%= movies[i2].title %>
                                <button class="delete_movies_btn modal_btn label_main" data-label="label_5" data-modal="modal_5" data-id="<%= movies[i2].id %>"><i class="fas fa-trash"></i></button>
                                <button class="edit_movie modal_btn label_main" data-label="label_4" data-modal="modal_6" data-id="<%= movies[i2].id %>"><i class="fas fa-edit"></i></button>
                                <button class="search_movie limetorrents label_main" data-label="label_6" data-web="limetorrents" data-title="<%= movies[i2].title %>"><i class="fas fa-lemon"></i></button>
                                <button class="search_movie label_main" data-label="label_7" data-web="piratebay" data-title="<%= movies[i2].title %>"><i class="fas fa-skull-crossbones"></i></button>
                            </p>
                        <% } %>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/modal.js"></script>
    <script src="/javascripts/label.js"></script>
    
</body>
</html>